{% extends "base.html.jinja" %}
{% block title %}
Michał Szewczyk
{% endblock title %}
{% block content %}
 <div class="container mt-3">
        <h3>Cel aplikacji</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, labore tempore debitis repudiandae accusantium optio modi autem, laborum voluptate quisquam cupiditate? Dolores nostrum nihil, eum assumenda odio dolore architecto numquam.</p>
    </div>
    <div class="container">
        <h3>Opis działania aplikacji</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, labore tempore debitis repudiandae accusantium optio modi autem, laborum voluptate quisquam cupiditate? Dolores nostrum nihil, eum assumenda odio dolore architecto numquam.</p>
    </div>

    <div class="container">
        <h3>Zastosowanie biblioteki</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, labore tempore debitis repudiandae accusantium optio modi autem, laborum voluptate quisquam cupiditate? Dolores nostrum nihil, eum assumenda odio dolore architecto numquam.</p>
    </div>

    <div class="container">
        <h3>Zastosowanie podejścia</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, labore tempore debitis repudiandae accusantium optio modi autem, laborum voluptate quisquam cupiditate? Dolores nostrum nihil, eum assumenda odio dolore architecto numquam.</p>
    </div>
{% endblock content %}